# Node modules
/node_modules

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store

# Environment files
.env
.env.local

# IDE
/.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json

# Tests
/coverage

# Temp
.temp
.tmp
